.project-lottie {
  background-color: white;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  // max-width: 245px;
  // min-width: 245px;
  height: 240px;
  flex: 0.3;

  .project-lottie-safe {
    width: 380px;
    height: 380px;
  }
}
