.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.modal-main {
  position: fixed;
  background: rgb(255, 255, 255);
  width: 50%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
.dateModal {
  width: 350px;
}
.modalForm {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  .modalForm-label {
    font-size: 12px;
    font-weight: 600;
  }
}

.select-modal {
  width: 386px;
}
.modal-button {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.gonder {
  background-color: green;
  color: white;
}

.h2-modal {
  font-size: 24px;
  color: var(--first-color);
}
.close {
  background-color: red;
  color: white;
}
